h1 {
    font-size: 64px;
    color: rgb(71,62,62);
}

a{
    font-size: 42px;
    background-color: rgb(167,1,78);
    color: white;
    border-radius: 4px;
}

a:hover{
    text-decoration: none;
    background-color: rgb(200,2,80);
}

ol{
    list-style: none;
}

li{
    background-color: rgb(223, 136, 124);
    border-radius: 6px;
    margin : 32px;
}